/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.preview {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.preview__img {
  width: 100%;
}

.preview__more {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .preview {
    text-align: center;
  }

}

input,
button {
  outline: none;
}

.list {
  margin: 0;
  padding: 0px;
}

.list__item {
  list-style: none;
}

.wrap-row {
  display: flex;
}

.todo {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

/* Heading */
.todo__heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task__name {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.task__btn:hover {
  color: #3a3a3a;
}

.task__btn--type_add:hover {
  color: #0fc57c;
}

.task__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;

  flex-grow: 1;
}

/* edit small */
.task__input--size_small {
  width: 224px;
}

.task__input--size_middle {
  width: 226px;
}

.task__input--size_large {
  width: 318px;
  flex-grow: 1;
}

.task__input:focus {
  color: #333;
}

.task__check {
  margin: 0 10px;
}

/* New Task */
label[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}

/* Task list */
.list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__item > * {
  vertical-align: middle;
}

.task__name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task__btn--type_delete:hover {
  color: #cf2323;
}

.task__btn--type_delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__btn--type_delete img:hover {
  transform: rotateZ(0);
}

.todo__list--type_completed .task__name {
  text-decoration: line-through;
  color: #888;
}

.task--mode_edit .task__input {
  display: inline-block;
  width: 224px;
}

.task--mode_edit .task__name {
  display: none;
}

.task__input--hide {
  display: none;
}